@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=Roboto:wght@300&family=swap');
*{
        margin:0;
        padding: 0;
        border: none;
}
body
{
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    color: #666a6d;
}
h1,h2{
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #666a6d;
}
p{
    color: #FFA500;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    bottom: 30px;
}
.hero-text {
    background-color: rgba(78,90,102,0.7);
    margin-left: 100px;
    margin-right: 100px;
    top: 600px;
    
}
.hero-image {
    height: 1400px;
    width: 100%;
    background: url(../images/hero_img.jpeg) no-repeat center center;
}
